{% extends "base.html" %}

    
    {% block content %} 
<head>
 <link rel="stylesheet" href="{{ url_for('static',
filename='css/game.css') }}">

<!-- still not able to link html to css -->
 

<!--not able to link html to js-->

 <script src="{{ url_for('static', filename='js/game.js') }}"></script>
<!--<script src="game.js"></script>-->

    
</head>

 <body onload="init_board()"> <!--no idea how to call the js script, still only manage to call init_board() -->
    
    <h1 style="text-align: center;">Guess the word</h1>
    <h5 style="text-align: center;">Time remaining: <span id="time_left"></span></h5>
    <div id="wordle_board" style="margin: auto; width: 50%; text-align: center;">
    
    </div>
    <div id="trial"></div>
    <div id="congrats"></div>



</body>
</html>
        {% endblock %}