{% extends "base.html" %}

    
    {% block content %} 
<head>

 <link rel="stylesheet" href="{{ url_for('static',
filename='css/game.css') }}">

<script src="{{ url_for('static', filename='js/game.js') }}"></script>

</head>

 <body onload="init_board()"> 
    
    <h1 style="text-align: center; color: rgb(255, 0, 0);">Guess the word</h1>
    <h5 style="text-align: center; color: gold;">Time elapsed: <span id="time_elapsed"> </span></h5>
    <div id="wordle_board" class="center2">
    
    </div>
    <div id="congrats" class="center"></div> 
    <div id="done" class="center">
        <button type="button" id="exit" onclick="window.location.href='/index';" style="display: none;" class="btn btn-primary btn-lg">Exit Space</button>
        <button type="button" id="play_again" onclick="window.location.href='/game';" style="display: none;" class="btn btn-primary btn-lg">Play Again</button>
    </div>

</body>
</html>
        {% endblock %}
