{% extends "base.html" %}

    
    {% block content %} 
<head>

    <style>
        h1 {
            text-align: center;
            color: black;
            text-decoration: underline;   
        }
        body {background-color: lightblue;}
        p {text-align: center;}
        td {
            border-color: black;
            border-style: solid;
        }
        
        table {
            border-color: black;
            border-style: solid;
            border-width: 1mm;
        }
    </style>
   <h1>Sketch Board 101</h1>
</head>
<body>
    


<table border="1" cellpadding="10" cellspacing="0" align="center">
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>
    <tr>
        <td bgcolor="white">           
        </td>
        <td bgcolor="white">          
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>
        <td bgcolor="white">        
        </td>

    </tr>

    </table>
    <!--<p id="replace">Here is a counter of how many pixels has been clicked! <span id="count"></span></p>-->
</body>
</html>

<script>
    let counter = 0;
    var x = document.getElementsByTagName("td");
    for (var i = 0; i < x.length; i++) {
        x[i].addEventListener("click", function() 
        {
            counter++;
            if(this.bgColor == "white")
            {
                this.bgColor = "black";
            }
            else
            {
                this.bgColor = "white";
            }
           // document.getElementById("replace").innerHTML = "The Pixel Count is " + counter;
        });
    };

</script>
        {% endblock %}