{% extends "base.html" %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{{ url_for('static',
    filename='css/login.css') }}">       
    </head>
    <h1>Sign In</h1>

    <p>Welcome to wordle! In order to play, please login or register first!</p>


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <button name="login" class="btn btn-primary btn-lg" type="submit">Login</button>
    </form>


    
{% endblock %}

