body {
    background-color: white; 
    }

h1 {
    color: #003366;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center
}

p {
    font-family: comic sans ms;
    text-align: center;
}

