body {
    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: #000000;
    }

h1 {
    color: gold;
    font-family: comic sans ms;
    text-align: center
}

p {
    font-family: comic sans ms;
    text-align: center;
}

video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #1c1c1c;
    opacity: 0.6;
    text-align: center;
    font-family: comic sans ms;
  }

  .header {
    background-color: #44023c;
    font-family: comic sans ms;
  }

  .content {
    max-width: 500px;
    margin: auto;
    background: rgb(76, 76, 76);
    padding: 10px;
    border: #7f2228;
    border-radius: 1cm;
    border-color: #7f2222;
    margin-top: 150px;
    box-shadow: 2px 2px 5px #333;
    opacity: 0.9;
  }